[submodule "source/Zamhareer/vendor/glm"]
	path = source/Zamhareer/vendor/glm
	url = https://github.com/g-truc/glm
[submodule "source/Zamhareer/vendor/glfw"]
	path = source/Zamhareer/vendor/glfw
	url = https://github.com/glfw/glfw
